<div id="fakeBg" ></div>
<div class="container">
<div class="editMenuBar" [ngStyle]="{'background-color': Note.getColor()}">
       <i (click)="back()" class="material-icons iconSize pointer">arrow_back</i>
       <i (click)="save(textArea.value)"class="material-icons iconSize pointer">save</i>
       <i (click)="randomizeColors()" class="material-icons iconSize pointer" >color_lens</i>
       <i (click)="deleteNote()" class="material-icons iconSize pointer" style="padding-left: 50px">delete</i>
      

</div>

<textarea  #textArea [ngStyle]="{'background-color': Note.getInverterdColor()}">{{_Note.Content}}</textarea>

</div>
