<div class="colorContainer">
<div class="colorCanvas">
  <!-- <canvas (click)="log($event)" id="canv" width="360" height="360"></canvas> -->
  <canvas id="hue" width="360" height="50"></canvas>
</div>
<div>
<img class="colorWheel pointer" (mousemove)="log($event)" (mousedown)="mouseDown()"  (mouseup)="mouseUp()" onmousedown="return false" (mouseleave)="mouseUp()"  src="/assets/images/colorWheel.png">
<img class="pickerLogo pointer"   [ngStyle]="{'top.px': pickerPosY, 'left.px' : pickerPosX}" >
<div class="filler"></div>
</div>
</div>